@media screen and (max-width: 449px) {
  .logo {
    height: 35px;
  }

  .welcome {
    padding: 120px 20px 40px;
  }

  .welcome h1 {
    font-size: 40px;
  }

  .CTA {
    font-size: 15px;
  }

  li {
    font-size: 15px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 450px) and (max-width: 849px) {
  .logo {
    height: 50px;
  }

  .welcome {
    padding: 150px 50px 60px;
  }

  .welcome h1 {
    font-size: 50px;
  }

  .welcome p {
    font-size: 22px;
  }

  .CTA {
    font-size: 16px;
  }

  p {
    font-size: 17px;
  }

  li {
    font-size: 16px;
  }
}

@media screen and (min-width: 850px) {
  .welcome h1 {
    font-size: 70px;
  }

  .welcome {
    padding: 190px 160px 90px;
  }

  .welcome p {
    font-size: 24px;
  }

  .logo {
    width: 55px;
  }

  p {
    font-size: 18px;
  }

  .CTA {
    font-size: 17px;
  }

  li {
    font-size: 17px;
  }
}

body {
  font-family: "Rubik";
  letter-spacing: 0.3px;
}

.welcome {
  max-width: 1100px;
  margin: auto;
}

.welcome-left, .welcome-right {
  width: 50%;
}

.welcome-left {
  margin-right: 40px;
}

.welcome h1 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Montserrat";
}

.welcome p {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Montserrat";
}

.CTA {
  display: inline-flex;
  color: white;
  align-items: center;
  font-weight: 800;
  font-family: "Montserrat";
  letter-spacing: 0.5px;
  transition: all 0.2s;
  background-color: black;
  padding: 9px 13px;
  cursor: pointer;
  border-radius: 2px;
}

.content {
  margin: auto;
  box-sizing: border-box;
}

.logo {
  border-radius: 2px;
  margin-right: 15px;
  transition: all 0.7s cubic-bezier(0.545, 0.045, 0.255, 1);
}

.side {
  height: 100%;
  width: 150px;
  background-color: black;
  position: fixed;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

.side-logo {
  width: 48px;
  cursor: pointer;
}

ul {
  padding: 0;
  margin-top: 120px;
  margin-bottom: 0;
}

li {
  height: 35px;
  width: 125px;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Montserrat";
  font-weight: 800;
  letter-spacing: 0.7px;
  border-radius: 2px;
}

li:hover {
  background-color: rgba(255,255,255,0.15)
}

.side-footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.twitter {
  width: 25px;
  transition: all 0.2s;
}

.linkedin {
  width: 22.75px;
  transition: all 0.2s;
}

.twitter:hover, .linkedin:hover {
  opacity: 0.6;
}
