@font-face {
  font-family: "SF";
  font-weight: 800;
  src: url("../fonts/SF-Compact-Rounded-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "SF";
  font-weight: 600;
  src: url("../fonts/SF-Compact-Rounded-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "SF";
  font-weight: 500;
  src: url("../fonts/SF-Compact-Rounded-Medium.otf") format("opentype");
}

* {
  font-family: "SF";
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

#root {
  overflow: hidden;
}

.main-body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
}
