@font-face {
  font-family: "SF";
  font-weight: 800;
  src: url("../fonts/SF-Compact-Rounded-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "SF";
  font-weight: 600;
  src: url("../fonts/SF-Compact-Rounded-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "SF";
  font-weight: 500;
  src: url("../fonts/SF-Compact-Rounded-Medium.otf") format("opentype");
}

* {
  font-family: "SF";
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

#root {
  overflow: hidden;
}

.main-body-not-safari {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transition: height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
}
