@media screen and (max-width: 709px) {
  .article-title {
    font-size: 48px;
  }

  .article-hero-image {
    height: 60%;
  }
}

@media screen and (min-width: 710px) {
  .article-title {
    font-size: 80px;
  }

  .article-hero-image {
    height: 100%;
  }
}

.article-hero-image {
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.8s ease-in-out;
  width: 100%;
  filter: blur(0px);
}

.article-hero-image--transparent {
  opacity: 0.2;
  transform: scale(1.03);
  transition: all 1.6s ease-in-out;
}

.article-hero-image--transparent--safari {
  filter: blur(16px);
}

.article-hero-image--before-intro {
  filter: blur(8px);
  opacity: 0;
  transform: scale(1.08);
}

.article-title-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.article-type {
  animation: var(--fade-in-blur);
  color: var(--highlight-color);
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

.article-type--dark {
  color: var(--highlight-color--dark);
}

.article-title {
  animation: var(--fade-in-blur);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.article-description {
  animation: var(--fade-in-blur);
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.text--dark {
  color: white;
}
