@media screen and (max-width: 709px) {
  .article-body {
    padding: 32px;
  }

  .next-article-name {
    font-size: 32px;
  }
}

@media screen and (min-width: 710px) {
  .article-body {
    padding: 64px 64px 24px;
  }

  .next-article-name {
    font-size: 40px;
  }
}

.article--dark {
  background-color: black;
}

.article-body--dark p {
  color: white;
}

.article-paragraph {
  line-height: 1.7em;
  max-width: 560px;
  margin: 1.7em auto;
}

.next-article-container {
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 80px 0px;
  position: relative;
}

.next-article-container:hover .next-article-prompt,
.next-article-container--focused .next-article-prompt {
  transform: translateY(12px);
}

.next-article-container:hover .next-article-image-container,
.next-article-container--focused .next-article-image-container {
  height: 100%;
}

.next-article-container:hover .next-article-image,
.next-article-container--focused .next-article-image {
  filter: blur(0px);
  opacity: 1;
}

.next-article-container:hover .next-article-name,
.next-article-container--focused .next-article-name {
  transform: scale(1.08);
}

.next-article-prompt {
  font-weight: 500;
  color: var(--highlight-color);
  margin: 0 0 12px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  z-index: 1;
}

.next-article-prompt--dark {
  color: var(--highlight-color--dark);
}

.next-article-name {
  font-family: "SF Display";
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  margin: 0;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  z-index: 1;
}

.next-article-image-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  overflow: hidden;
}

.next-article-image-gradient {
  background: linear-gradient(white, rgba(255, 255, 255, 0.6));
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.next-article-image-gradient--dark {
  background: linear-gradient(black, rgba(0, 0, 0, 0.6));
}

.next-article-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 300px;
  filter: blur(16px);
  transition: all 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
