@media screen and (max-width: 709px) {
  .article-title {
    font-size: 48px;
  }

  .article-hero-image {
    height: 60%;
  }
}

@media screen and (min-width: 710px) {
  .article-title {
    font-size: 64px;
  }

  .article-hero-image {
    height: 100%;
  }
}

.article-hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../img/YoutubeArticle.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1.2s ease-in-out;
  width: 100%;
}

.article-hero-image--transparent {
  opacity: 0.3;
  transform: scale(1.02);
}

.article-hero-image--transparent--safari {
  filter: blur(6px);
}

.article-hero-image--before-intro {
  filter: blur(8px);
  opacity: 0;
  transform: scale(1.08);
}

.article-title-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.article-type {
  animation: var(--fade-in-blur);
  color: var(--highlight-color--dark);
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
}

.article-title {
  animation: var(--fade-in-blur);
  color: white;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

.article-description {
  animation: var(--fade-in-blur);
  color: white;
  margin: 0;
  text-align: center;
}
