@media screen and (max-width: 709px) {
  .quote {
    font-size: 32px;
  }

  .block-quote {
    margin: 64px auto;
  }

  .quote-sign {
    bottom: 84%;
    font-size: 120px;
    right: 88%;
  }

  .quote-shadow {
    filter: blur(4px);
    font-size: 80px;
    right: 0;
    top: 76%;
  }
}

@media screen and (min-width: 710px) {
  .quote {
    font-size: 40px;
  }

  .block-quote {
    margin: 72px auto 96px;
  }

  .quote-sign {
    bottom: 82%;
    font-size: 160px;
    right: 96%;
  }

  .quote-shadow {
    filter: blur(6px);
    font-size: 120px;
    right: 6%;
    top: 72%;
  }
}

.block-quote {
  max-width: 720px;
  position: relative;
}

.quote {
  color: white;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  position: relative;
  z-index: 1;
}

.quote-sign {
  color: white;
  filter: blur(2px);
  font-family: "Baskerville";
  font-weight: bold;
  line-height: 0;
  opacity: 0.5;
  position: absolute;
}

.quote-shadow {
  color: white;
  font-weight: bold;
  hyphens: auto;
  line-height: 1em;
  opacity: 0.3;
  position: absolute;
  text-align: right;
  width: 100%;
}
