@media screen and (max-width: 709px) {
  .concept-title {
    font-size: 48px;
  }

  .concept-content-left,
  .concept-content-right {
    width: 100%;
  }

  .external-link {
    padding: 12px 0px;
  }

  .concept-preview-container {
    display: none;
  }
}

@media screen and (min-width: 710px) {
  .external-link {
    padding: 12px 32px 12px 0px;
  }

  .external-link--invisible {
    opacity: 0;
  }

  .external-link:hover .external-link-main {
    opacity: 1;
  }
  .external-link:hover .external-link-website {
    opacity: 0.6;
  }
  .external-link:hover .out-icon {
    opacity: 0.8;
  }

  .concept-content-left {
    margin-right: 48px;
    max-width: 45%;
  }

  .concept-content-right {
    max-width: 40%;
  }

  .concept-preview-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    z-index: 1;
    overflow: hidden;
    filter: blur(24px);
    transition: all 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 0;
  }

  .concept-preview-container--visible {
    width: 100vw;
    filter: blur(4px);
    opacity: 0.4;
  }

  .concept-preview-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      0.25turn,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    z-index: 2;
  }

  .concept-preview-gradient--dark {
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .concept-preview {
    height: 100%;
    position: absolute;
    right: 0;
    width: 100vw;
    background-size: cover;
    background-position: right;
    z-index: 1;
  }
}

@media screen and (min-width: 710px) and (max-width: 839px) {
  .concept-title {
    font-size: 56px;
  }
}

@media screen and (min-width: 840px) and (max-width: 1199px) {
  .concept-title {
    font-size: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .concept-title {
    font-size: 80px;
  }
}

.concept-container {
  height: 100vh;
  position: relative;
}

.concept-content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  z-index: 2;
}

.concept-title {
  font-family: "SF Display";
  font-weight: 700;
  margin: 0px 0px 8px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.concept-title--dark {
  color: white;
}

.concept-type {
  color: var(--highlight-color);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px 0px 16px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.concept-type--dark {
  color: var(--highlight-color--dark);
}

.concept-description {
  margin-bottom: 24px;
  line-height: 1.5em;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.concept-description--dark {
  color: white;
}

.read-btn {
  background-color: white;
  border: solid 1px var(--default-color);
  border-radius: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  align-items: center;
  height: 36px;
  width: 36px;
}

.read-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.read-icon {
  width: 12px;
}

#read-local-icon {
  width: 24px;
}

.external-link {
  border-bottom: solid 1px var(--default-color);
  display: block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.external-link-main {
  margin: 0px 0px 4px;
  font-size: 14px;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  line-height: 1.4em;
}

.external-link-website {
  font-size: 14px;
  margin: 0;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

.out-icon {
  animation: translateUpAndDown 1s alternate infinite
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: absolute;
  top: 14px;
  right: 0;
  width: 12px;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

@keyframes translateUpAndDown {
  from {
    transform: translate(-3px, 3px);
  }

  to {
    transform: translate(0, 0);
  }
}

/* @media screen and (max-width: 709px) {
  .concept-title {
    font-size: 32px;
  }

  .concept-image {
    animation: var(--move-up-and-down);
    margin-bottom: 36px;
    right: 48px;
    top: 16px;
    width: calc(100% + 48px);
  }

  .concept-container {
    padding: 0px 24px;
  }

  .concepts-grid {
    grid-row-gap: 64px;
  }

  .medium-text {
    color: var(--highlight-color);
    opacity: 1;
  }

  .out-icon img {
    filter: grayscale(0);
    height: 12px;
  }
}

@media screen and (min-width: 710px) {
  .concept-title {
    font-size: 40px;
  }

  .concept-container:hover,
  .concept-container:focus {
    outline: none;
    border-color: var(--highlight-color);
  }

  .concept-container:hover .concept-image,
  .concept-container:focus .concept-image {
    transform: translate(-8px, -2px);
    box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.26);
  }

  .concept-container:hover .concept-title,
  .concept-container:focus .concept-title {
    color: var(--highlight-color);
  }

  .concept-container:hover .medium-text,
  .concept-container:focus .medium-text {
    color: var(--highlight-color);
    opacity: 1;
  }

  .concept-container:hover .medium-text img,
  .concept-container:focus .medium-text img {
    filter: grayscale(0);
  }

  .concept-image {
    margin-bottom: 52px;
    right: 64px;
    top: 32px;
    width: calc(100% + 64px);
  }

  .concept-container {
    padding: 0px 32px;
  }

  .concepts-grid {
    grid-row-gap: 80px;
  }

  .medium-text {
    opacity: 0;
  }

  .out-icon img {
    filter: grayscale(100%);
    height: 13px;
  }
}

.concepts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-column-gap: 12%;
}

.concept-container {
  background-color: white;
  border: solid 2px var(--anti-color);
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: 1;
}

.concept-image {
  background-size: cover;
  background-position: top;
  border-radius: 12px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  height: 230px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.gif-info {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  padding: 2px 8px;
  position: absolute;
  right: 16px;
  top: 12px;
}

.concept-title {
  font-weight: 700;
  margin-bottom: 20px;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.concept-description {
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 72px;
}

.medium-text {
  bottom: 24px;
  font-weight: 500;
  margin: 0;
  position: absolute;
  right: 32px;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.out-icon {
  margin-left: 8px;
}

.out-icon img {
  margin-top: 2px;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
} */
