@media screen and (max-width: 709px) {
  .header-container {
    padding: 8px 32px;
  }

  .header-container--article {
    padding: 2px 32px;
  }

  .article-chapter {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .article-chapter span {
    margin: 4px 0px 0px;
  }

  .header-container--border {
    opacity: 1;
    pointer-events: auto;
  }

  .header-carousel {
    height: 32px;
  }

  .header-carousel-item {
    margin: 0px 0px 12px;
  }

  .top-bar {
    height: 4px;
    width: 24px;
    background-color: var(--text-color);
    margin-bottom: 6px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .top-bar-open {
    transform: rotate(45deg) translateY(4px) translateX(3.1px);
  }

  .bottom-bar-open {
    transform: rotate(-45deg) translateY(-4px) translateX(3.1px);
  }

  .bottom-bar {
    height: 4px;
    width: 24px;
    background-color: var(--text-color);
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .mobile-menu {
    background-color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 0px 32px;
    position: fixed;
    pointer-events: none;
    right: 0;
    top: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-100%);
    z-index: 90;
  }

  .mobile-menu .section-title {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .mobile-menu .section-title:first-child {
    transition-delay: 0.5s;
  }

  .mobile-menu .section-title:last-child {
    margin-bottom: 0;
    transition-delay: 0.6s;
  }

  .mobile-menu--open {
    pointer-events: auto;
    transform: unset;
  }

  .mobile-menu--anti {
    background-color: var(--default-color);
  }

  .mobile-menu--open .section-title {
    opacity: 1;
    transform: unset;
  }

  .burger-open-ul a:nth-child(2) {
    transition-delay: 0.1s;
  }
  .burger-open-ul a:nth-child(3) {
    transition-delay: 0.2s;
  }
  .burger-open-ul a:nth-child(4) {
    transition-delay: 0.3s;
  }

  .header a:not(:last-child) {
    margin-bottom: 24px;
  }

  .burger-open-ul a {
    opacity: 1;
    transform: unset;
    pointer-events: auto;
  }

  .mobile-menu-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  .mobile-menu-backdrop-open {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
  }

  .back-to-home {
    display: none;
  }

  .header-carousel-item,
  .back-to-home {
    font-size: 16px;
  }
}

@media screen and (min-width: 710px) {
  .header-container,
  .header-container--article {
    padding: 16px 96px;
  }

  .header-container--border,
  .header-container--border--dark {
    padding: 2px 96px;
  }

  .header-carousel-item,
  .back-to-home {
    font-size: 18px;
  }

  .header-carousel-item {
    margin: 0px 0px 12px;
  }

  .header-carousel-item--hidden {
    opacity: 0;
  }

  .header-carousel {
    height: 41px;
  }

  .header-container--invisible {
    opacity: 0;
  }
}

.header-carousel-item {
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-container,
.header-container--article {
  border-bottom: solid 1px transparent;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.header-container {
  background-color: white;
}

.header-container--hidden {
  transform: translateY(-100%);
}

.header-container--border {
  border-color: var(--default-color);
}

.header-container--border--dark {
  background-color: black;
  border-color: var(--dark-accent);
}

.header-container--border--dark--safari {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
}

.header-container--border--safari {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
}

.header-container--anti {
  background-color: var(--default-color);
  border-color: var(--anti-color);
}

.header-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-carousel-item {
  cursor: pointer;
  font-weight: 500;
}

.header-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.header-container--border--dark .article-chapter--dark,
.header-container--border--dark .back-to-home,
.header-container--border .article-chapter,
.header-container--border .back-to-home {
  opacity: 1;
  pointer-events: auto;
}

.header-links > *:not(:last-child) {
  margin-right: 24px;
}

a,
li {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.header-container a,
.header-container li {
  font-weight: 500;
}

.header-link--faded {
  opacity: 0.3;
  pointer-events: none;
}

.small-avatar {
  background-size: cover;
  background-position: center;
  border: solid 2px white;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  transition: all 0.4s ease-in-out;
  width: 24px;
}

.header-left-side {
  align-items: center;
  cursor: pointer;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.header-left-side:hover .back-to-home {
  opacity: 1;
}

.header-left-side .button--round {
  margin-right: 12px;
}

.article-chapter {
  cursor: pointer;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.article-chapter--dark {
  color: white;
}

.article-chapter span {
  font-weight: 400;
  margin-left: 10px;
  opacity: 0.8;
}

.back-to-home {
  font-weight: 500;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
