@media screen and (max-width: 709px) {
  .intro-image {
    background-position: center;
    height: 50%;
    width: 100%;
    left: 0;
  }

  .hero {
    padding: 0px 32px;
  }

  .hero-tag {
    font-size: 48px;
  }

  .hero-description {
    margin-bottom: 32px;
  }

  .hero-tags-container {
    height: 60px;
  }
}

@media screen and (min-width: 710px) {
  .intro-image {
    background-position: left;
    height: 100%;
    width: 60%;
    right: 0;
  }

  .hero {
    padding: 0px 64px;
  }

  .hero-tag {
    font-size: 80px;
  }

  .hero-tags-container {
    height: 100px;
  }

  .hero-description {
    margin-bottom: 40px;
  }
}

.intro-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: all 0.8s ease-in-out;
  filter: blur(0px);
}

.intro-image--transparent {
  opacity: 0.4;
  transform: scale(1.03);
  transition: all 1.6s ease-in-out;
  /* filter: blur(16px); */
}

.intro-image--before-intro {
  filter: blur(8px);
  opacity: 0;
  transform: scale(1.08);
}

.intro-image--focused {
  transform: scale(1.04);
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hero {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

.hero-intro {
  z-index: 2;
}

.hero-flex {
  align-items: center;
  display: flex;
  height: 100%;
}

.hero-tags-container {
  box-sizing: border-box;
  margin-bottom: 24px;
  transition: all 0.8s ease-in-out;
}

.hero-tag {
  position: absolute;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
  transform: translateX(-3px);
  font-weight: 700;
  margin: 0px 0px 8px;
}

.hero-tag--transparent {
  opacity: 0;
  filter: blur(10px);
  pointer-events: none;
  transform: translateX(-24px);
  transition-delay: 0s;
}

.hero-description {
  font-weight: 500;
  line-height: 1.6em;
}

.scroll-container {
  animation: var(--fade-in-blur);
  bottom: 40px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}

.scroll-container--transparent {
  opacity: 0;
  pointer-events: none;
}

.scroll-text {
  color: var(--highlight-color);
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.scroll-text--dark {
  color: var(--highlight-color--dark);
}

.scroll-bar {
  animation: scroll 1s alternate infinite ease-in-out;
  background-color: var(--highlight-color);
  border-radius: 10px;
  height: 6px;
  margin: auto;
  width: 24px;
}

.scroll-bar--dark {
  background-color: var(--highlight-color--dark);
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(8px);
  }
}

.image-loader {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
}
